name: Build Action

on:
  push:
    branches:
      - "main"

jobs:
  build:
    name: Build Action
    runs-on: ubuntu-latest

    permissions:
      contents: write

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: 16.x

      - name: Build
        run: | 
          npm ci
          npm run build

      - name: Push Built Files
        run: |
          git config user.name github-actions[bot]
          git config user.mail 41898282+github-actions[bot]@users.noreply.github.com
          
          git add -f dist/
          git commit -m "Added built action files"
          git push